body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.table {
    width: 70%;
    margin: 0 auto;
}

.table-statistics table {
    border-collapse: collapse;
    width: 100%;
}

.table-statistics th {
    font-size: 16px;
    color: #ebe7fe;
    padding: 13px 0;
    font-weight: bold;
    background-color: #094c12;
    border-left: 1px solid #c0c1c217;
    border-top: 1px solid #c0c1c217;
}

.table-statistics th:nth-child(n + 2) th {
    border-left: none;
    border-top: none;
}

.table td:last-child {
    padding: 0;
    width: 5%;
}

tbody td:nth-child(n + 3) {
    text-align: right;
}
tbody td:last-child {
    text-align: center;
}

tbody td:first-child {
    padding-left: 30px;
}

.table-statistics tr:first-child th:first-child {
    text-align: left;
    padding-left: 30px;

}

.table-statistics tr:first-child th:nth-child(2) {
    text-align: left;
    padding-left: 30px;
}

.table-statistics td {
    font-size: 16px;
    color: #2a3644;
    background-color: #f2f2f2;
    padding: 10px 25px;
    vertical-align: middle;
}

.table-statistics td:nth-child(n + 2) {
    border-left: 1px solid #c0c1c2;
}

tbody tr:nth-child(n + 2) {
    border-top: 1px solid #c0c1c2;
}

.table-statistics tr:hover td {
    background-color: #c0c1c2;
    cursor: pointer;
}

tbody tr:nth-child(even) td {
    background-color: #e8e8e8;
}

.form input.btn {
    padding: 10px 50px;
    font-size: 16px;
    border: 2px solid #094c12;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    color: #2a3644;
}

.form input.btn:hover {
    background-color: #094c12;
    color: #ebe7fe;
}

.select option:first-child {
    display: none;
}

.form {
    text-align: center;
}

.form input, .form select {
    width: 180px;
    margin-bottom: 10px;
    padding: 12px 17px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin: 20px;
}

input:focus-visible,
textarea:focus-visible {
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
    background-color: #ffffff;
    border: 1px solid #094c12;
}

a:active, a:focus { 
    outline: none; 
}

input, textarea {
    outline:none;
}

input:active, textarea:active {
    outline:none;
}

:focus {
    outline:none;
}